/* CSS Beispiel M101 */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Pangolin:400&subset=latin,latin-ext);
* {
    font-family: Roboto, Ubuntu, Calibri, Helvetica, sans-serif;
    /* Schriftart */
    font-weight: 200;
    font-size: 1.5rem;
    /* Schriftgrösse */
}

body {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}

h1,
h2 {
    font-family: Pangolin;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    /* Schriftgrösse */
}

h2 {
    font-size: 2rem;
    /* Schriftgrösse */
}

#text1 {
    font-size: 1.5rem;
    /* Schriftgrösse */
    color: darkslateblue;
}

.text2 {
    font-size: 1.2rem;
    color: darkblue;
    font-weight: 800;
}

.floatright {
    float: right;
    border: 5px dotted deeppink;
    margin: 0 0 0 15px;
    height: auto;
}

.mw400 {
    max-width: 400px;
}


/* Navigation */

nav {
    height: 8vh;
    background-color: darkblue;
    padding: 20px;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav li:nth-child(1) {
    background-color: #058;
}

nav li:nth-child(2) {
    background-color: #069;
}

nav li:nth-child(3) {
    background-color: #07b;
}

nav li:nth-child(4) {
    background-color: #08c;
}

footer {
    background-color: lightblue;
    padding: 0 20px 20px 20px;
}

#copyright a {
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    color: white;
}


/* Animation Header Footer*/

nav,
footer {
    background: lightblue;
    animation: mymove 20s infinite;
}

@keyframes mymove {
    0% {
        background-color: lightblue;
    }
    20% {
        background-color: darkblue;
    }
    40% {
        background-color: darkred;
    }
    60% {
        background-color: darkolivegreen;
    }
    80% {
        background-color: darkgoldenrod;
    }
    100% {
        background-color: lightblue;
    }
}


/* Animation Box*/

.element-animation {
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    animation: animationFrames linear 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes animationFrames {
    0% {
        transform: translate(-50px, 111px) rotate(0deg);
    }
    20% {
        transform: translate(0px, -127px) rotate(313deg);
    }
    49% {
        transform: translate(20px, 115px) rotate(766deg);
    }
    74% {
        transform: translate(100px, -163px) rotate(479deg);
    }
    100% {
        transform: translate(200px, 0px) rotate(180deg);
    }
    101% {
        transform: translate(200px, 0px) rotate(180deg);
    }
}


/* Animation Footer */

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}